{{ partial "header" . }}

<h1>{{ if .Draft }}DRAFT: {{end}}{{ .Title }}</h1>
<p>
  {{ if not .Date.IsZero }}
  <div class="published-date">
  {{ partial "icon/calendar" (dict "size" "18px")}}
    <span>{{ .Date | time.Format ":date_long" }}</span>
  {{- if .Params.Author }}
    <span> - {{ .Params.Author }}</span>
  {{ end -}}
  </div>
  {{ end }}

  {{ if or .Params.tags .Params.categories .Params.series }}
    |
  {{ end }}
  {{ if and .Params.tags (isset .Params "tags") }}
    tags: [ {{ range .Params.tags }}<a href="{{ relURL "tags/" }}{{ . | urlize }}">{{ . }}</a> {{ end }}]
  {{ end }}

  {{ if and .Params.categories (isset .Params "categories") }}
    categories: [ {{ range .Params.categories }}<a href="{{ relURL "categories/" }}{{ . | urlize }}">{{ . }}</a> {{ end }}]
  {{ end }}

  {{ if and .Params.series (isset .Params "series") }}
    series: [ {{ range .Params.series }}<a href="{{ relURL "series/" }}{{ . | urlize }}">{{ . }}</a> {{ end }}]
  {{ end }}
</p>

{{ if or .Params.toc (and (eq .Params.toc nil) .Site.Params.toc) -}}
  {{ .TableOfContents }}
{{- end }}

{{- if .Content -}}
  {{ replace .Content "<table>" "<table class='pure-table pure-table-bordered'>" | safeHTML }}
{{- end -}}

<ul>
  {{- $sortOrder := .Page.Params.Sort | default (.Site.Params.Sort | default "desc") -}}
  {{- $pages := .Data.Pages -}}

  {{ range sort $pages "Date" $sortOrder }}
  <li>
    {{- if .Draft }} DRAFT: {{ end -}}
    <a class="post-list" href="{{ .RelPermalink }}">{{ .Title }}</a>
    <p class="footnote">
      <time datetime="{{ .Date }}">
        {{ .Date | time.Format ":date_medium" }}
      </time>
    </p>
  </li>
  {{ end }}
</ul>

{{ partial "footer" . }}
