{{ partial "header" . }}

  {{ .Content }}

  {{ if or .Page.Params.ShowSubPages (and (eq .Page.Params.ShowSubPages nil) .Site.Params.ShowSubPages) -}}
    <ul>
      {{- $sortOrder := .Page.Params.Sort | default (.Site.Params.Sort | default "desc") -}}
      {{- $pages := .Data.Pages -}}
      {{ range sort $pages "Title" $sortOrder }}
      <li>
      {{- if .Draft }} DRAFT: {{ end -}}
        <a class="post-list" href="{{ .RelPermalink }}">{{ .Title }}</a>
        <p class="footnote">
          <time datetime="{{ .Date }}">
          {{ .Date | time.Format ":date_long" }}
          </time>
        </p>
      </li>
      {{- end -}}
    </ul>
  {{- end -}}

{{ partial "footer" . }}
